/* Global */

:root {
  --nokia-blue: #124191;
  --nokia-blue-black: #001135;
  --gray-1: #edf3f5;
  --gray-2: #bec8d2;
  --gray-3: #98a2ae;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  padding-top: 50px; /* (for navbar) */
}

/* Navigation bar */

.navbar {
  background-color: var(--gray-1);
}
.navbar a {
  color: var(--nokia-blue);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--nokia-blue-black);
}

/* Repo listing */

.repoList {
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.repoList a {
  text-decoration: none;
  color: var(--nokia-blue-black);
}

.repoList p {
  margin-top: 1rem;
  color: rgb(110, 110, 110);
}

/* About statement */

.aboutStatement {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 600;
  background-color: var(--gray-3);
  color: white;
}

.aboutStatement h2 {
  margin-bottom: 2rem;
}

.aboutStatement p {
  margin-bottom: 4rem;
}

/* Featured Repos */

.container .featuredRepos {
  margin-top: -4rem;
  color: var(--nokia-blue);
  margin-bottom: 5rem;
}

.container .featuredRepos h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.container .featuredRepos a.repoCard {
  text-decoration: none;
  color: var(--nokia-blue);
}

.container .featuredRepos div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.container .featuredRepos div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Footer */

.footer {
  background-color: var(--nokia-blue-black);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer img {
  margin-left: -25px;
  width: 10rem;
  filter: brightness(0) invert(1);
  margin-bottom: 1rem;
}

.footer .socials i {
  text-decoration: none;
  color: white;
}

.footer .socials i:hover {
  color: var(--gray-3);
}

.footer .copyright {
  text-align: right;
  color: var(--gray-2);
  font-size: 12px;
}
